<h1><%= @nation %></h1>
<h3>Total: <%= @members.count %></h3>
<% @members.first(25).each do |member| %>
<%= image_tag "#{member.photo_url}", width: "200" %>
  <h4>Name: <%= member.name %></h4>
  <p>Allies: <%= member.allies %></p>
  <p>Enemies: <%= member.enemies %></p>
  <p>Affiliations: <%= member.affiliation %></p>
<% end %>